rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // System settings
    match /settings/{docId} {
      allow read, write: if true;
    }

    // Connection Test
    match /test/connection {
      allow read: if true;
    }

    // Pending Updates
    match /pending_updates/{updateId} {
      allow read, write: if true;
    }

    // Main Collections
    match /vendors/{vendorId} {
      allow read: if true;
      allow create, update, delete: if true; // Prototype mode

      match /prices/{priceId} {
        allow read, write: if true;
      }

      match /handling_items/{itemId} {
        allow read, write: if true;
      }
    }

    // Global Deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
